:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  /* color-scheme: light dark; */
  color: rgba(0, 0, 0, 0.87);
  

}




a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: wheat;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}





.container{
min-height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-between;

}

img {
  
  width: 100vw;
  height: 100vh;
  display:inline;
  object-fit:contain;
  /* object-position: center; */
}


.left{
  /* padding-left: 0vh; */
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  order: 1;
}
.right{
  display: flex;
  flex:1;
  align-items: center;
  justify-content: center;
  
}


.splinebox {
  height: 90vh; /* Adjust the height as needed */
  width: 90vh; /* Adjust the width as needed */
  max-width: 100%;
  max-height: 100%;
  
  margin-left: 0; /* Ensure it touches the left side */
}

.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding:20px;
  margin:10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
max-width: 60%;
height: auto;
border-radius: 50%;
margin-bottom: 10px;


}

.card .card-title{
font-family: Arial, Helvetica, sans-serif;
margin: 0;
color: black;


}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}